<div class="navbar">
  <!-- Home head is the bar which contains the menu button and
IB, dasboard icons. Floats to the left in the navbar.
  -->
  <ul class = "homehead">
    <li class = "dropdown menuhead">
      <p class="dropdown-toggle" data-toggle="dropdown">Home
      <span class="caret"></span></p>
      <ul class="dropdown-menu">
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
        <li><a href="#">EPIC OPTION HERE</a></li>
      </ul>
    </li>
    <li class="menuhead">
      <i class="fa fa-inbox "></i>
      <i class="fa fa-clipboard "></i>
      <i class="fa fa-users"></i>
    </li>
  </ul>

</div>
<div class="row">
  <div class="col-md-4">
    <div class="waiting" ng-style="{'border-left-color': color}">
      <img src="{{image}}">
      <div class="repbox">
        <h5>{{title}}</h5>
        <p>{{name}}</p>
        <p>{{gender}} {{age}}</p>
        <span style="position:relative;top:-2em;"><i class="fa fa-heartbeat fa-2x"></i></span>
        <span style = "font-size:20; position:relative;top:-1.5em;"> {{pulse}} </span>
        <span style = "font-size:15; color: grey; position:relative; top:-1.9em;"> {{bloodp}} </span>
        <p style="position:relative;top:-2.5em;"><i class="fa fa-exclamation-circle"></i>{{rov}}</p>
      </div>
    </div>
    <div class="sched" ng-mouseleave="hoverOut()">
      <ul>
        <li ng-repeat="patient in patients">
          <img ng-mouseover="hoverIn($index)" id="{{patient.id}}" src="{{patient.image}}"/>
        </li>
      </ul>
      <i class="fa fa-external-link fa-2x" data-toggle="modal" data-target=".bs-example-modal-lg"></i>
    </div>
    <div class="messages">
      <h4> MEDICATION REFILLS </h4>
      <ul>
        <li>
          <h4 style="color:black; opacity:0.6; text-decoration:underline;">No Refill Requests</h4>
        </li>
        <li ng-repeat="refill in refills">
          <div class="medimage">
            <img src="{{refill.image}}"/>
            <h5>{{refill.name}}</h5>
            <h6><i class="fa fa-stethoscope"></i> Last Appt : {{refill.last}}</h6>
          </div>
          <h4 class="medname"> {{refill.med}} </h4>
          <h5 class="medetail">{{refill.freq}}</h5>
          <h5 class="viewdets"> View Details</h5>
          <button type="button" class="btn btn-success approve">Approve</button>
          <button type="button" class="btn btn-danger reject" ng-click="reject()">Reject</button>
        </li>
      </ul>
    </div>
    <div class="ptclback">
      <div class="nurmsg">
        <div class="nurmsg_image">
            <img src="http://vignette1.wikia.nocookie.net/theoffice/images/9/9a/Jim.jpg/revision/latest?cb=20131011080102" />
        </div>
        <div class="msgtextdiv">
          <p> Hi Dr. Dorian <br> Sean called about a rash on his left leg. He is going on a trip this weekend.
          </p>
        </div>
      </div>
      <div class="patientinfo">
        <img src = "http://vignette1.wikia.nocookie.net/theoffice/images/9/9a/Jim.jpg/revision/latest?cb=20131011080102"/>
        <h4 style="color:grey;font-weigt:bolder; text-decoration:underline">Sean Kravitz</h4>
        <p><i class="fa fa-male"></i> Male, 33 year old</p>
        <p><i class="fa fa-plus-square"></i> No Medications </p>
        <p><i class="fa fa-user-md"></i> Last Visit Dx : Sinusitis</p>
      </div>
      <div class="msgactionbuttons">
        <h5><i class="fa fa-reply fa-2x"></i></h5>
        <h5>
          <i class="fa fa-arrow-circle-left fa-2x"></i>
          <i class="fa fa-arrow-circle-right fa-2x"></i>
        </h5>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="fastlinks">
      <ul>
        <li>
          <i class="fa fa-clipboard fa-3x"></i>
          <h5 style="color:black;margin-top:-0.5em;"> My Open Charts</h5>
        </li>
        <li>
          <i class="fa fa-pie-chart fa-3x"></i>
          <h5 style="color:black;margin-top:-0.5em;">My Reports</h5>
        </li>
        <li>
          <i class="fa fa-bar-chart fa-3x"></i>
          <h5 style="color:black;margin-top:-0.5em;">Slicer Dicer</h5>
        </li>
      </ul>
    </div>
    <div class="chartsearch" ng-controller="searchCtrl">
        <i class="fa fa-search fa-2x"></i>
        <input placeholder="Type to search" type="textbox" class="searchform" ng-model="query"/>
        <ul class="searchresbox">
          <li ng-class = "{smallresbox: ii.patient, wrkflowbox: ii.workflow}" ng-repeat = "ii in items | searchFor:query">
            <img src="{{ii.image}}"/>
            <p>{{ii.title}}</p>
            <p>{{ii.info}}</p>
          </li>
        </ul>
    </div>
  </div>


  <div class="col-md-4">
    <div class="insights">
      <div class="patientreps">
        <div class="numbox" data-toggle="modal" data-target=".rep-example-modal-lg">
          <h1  style="color:red">114</h1>
          <div class="boxsmall boxsmallredtext"><h5>Abnormal Reports</h5></div>
        </div>
        <div class="numbox">
          <h1  style="color:black">71</h1>
          <div class="boxsmall boxsmallyellowtext"><h5>Mixed Reports</h5></div>
        </div>
        <div class="numbox">
          <h1  style="color:green;">37</h1>
          <div class="boxsmall boxsmallgreentext"><h5>Normal Reports</h5></div>
        </div>
      </div>
      <div class="chartrepone"></div>
      <div class="chartreptwo">
        <p>AVERAGE VISIT TIMES</p>
        <div class="insimg"></div>
        <!--img class="insimg" src="insight1.png" /-->
      </div>
      <div class="chartreptwo">
        <p>VISIT METRICS COMPLETED</p>
        <!--img class="insimg" src="insight2.png" /-->
        <div class="insimgtwo"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content patlist">
      <h4> PATIENT LIST </h4>
      <br></br>
      <div style="overflow-y: scroll; height:55em;">
        <div class="row element" ng-repeat="patient in patients">
          <div class="col-xs-6 col-sm-4">
            <img id="{{patient.id}}"src="{{patient.image}}"/>
            <h5 style="color: grey">{{patient.name}}</h5>
          </div>
          <div class="col-xs-6 col-sm-4" style= "color: grey;">
            <p> <b style="color:black;">{{patient.visit}}</b> at {{patient.time}} </p>
            <p> {{patient.age}} year old, {{patient.gender}}</p>
            <p> <b style="color:black;">{{patient.provider}}</b> is the {{patient.ptype}} provider </p>
          </div>
          <div class="col-xs-6 col-sm-4">
            <p><i class="fa fa-phone"></i> {{patient.phone}}</p>
            <p><i class="fa fa-home"></i> {{patient.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade rep-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content patlist">
      <h4> ABNORMAL REPORTS </h4>
      <br></br>
      <div style="overflow-y: scroll; height:40em;">
        <div class="row element" ng-repeat="patient in patients">
          <div class="col-xs-6 col-sm-4">
            <img id="{{patient.id}}"src="{{patient.image}}"/>
            <h5 style="color: grey">{{patient.name}}</h5>
          </div>
          <div class="col-xs-6 col-sm-4" style= "color: grey;">
            <p> <b style="color:black;">{{patient.visit}}</b> at {{patient.time}} </p>
            <p> {{patient.age}} year old, {{patient.gender}}</p>
            <p> <b style="color:black;">{{patient.provider}}</b> is the {{patient.ptype}} provider </p>
          </div>
          <div class="col-xs-6 col-sm-4">
            <p><i class="fa fa-phone"></i> {{patient.phone}}</p>
            <p><i class="fa fa-home"></i> {{patient.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<ul class="homeright">

</ul>
-->
