body{
  background-color: #f8f8f8;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
}

.navbar{
  background-color: black;
  height: 2.8em;
  width: 100%;
}

.fa{
  padding: 0.5em;
}

.homehead{
  width: 50%;
  float: left;
  height: 100%;
  /*border: 1px solid orange;*/
  vertical-align: center;
}

.homeright{
  width: 50%;
  float: right;
  height: 100%;
  /*border: 1px solid orange;*/
  vertical-align: center;
}

.menuhead{
/*  border: 1px solid orange;*/
  display: inline-block;
  height: 100%;
  padding: 0.5em;
  color: #eeeeee;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  vertical-align:center;
}

.menuheadright{
  width: 60%;
  margin-right: 1em;
  float : right;
/*  border: 1px solid orange;*/
  display: inline-block;
  height: 100%;
  padding: 0.5em;
  color: #efefef;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  vertical-align:center;
}

.menuheadright > input{
  color: #efefef;
  opacity: 0.8;
  background: transparent;
  font-weight: 100;
  letter-spacing: 0.05em;
  border-width: 1px;
  outline: none;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-color: #eeeeee;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

.searchresbox{
  width: 100%;
  /*border: 1px solid orange;*/
  background: transparent;
  opacity: 0.8;
  border-top-radius: 5%;

}

.smallresbox{
	border-bottom: 1px solid #dddddd;
	padding: 10px;
	overflow: hidden;
  height: 6em;
  vertical-align: center;
  background-color: #efefef;
}

.smallresbox > p{
  margin-left: 25px;
	font-weight: normal;
	padding-top: 3px;
	color:#6e7a7f
}

.smallresbox i{
  color: black;
}

.patientheader{
  display: inline;
  margin-left: 25px;
  font-weight: normal;
  padding-top: 3px;
  color: red;
}

.smallresbox > img{
  padding-top: 10px;
  float : left;
  height: 100%;
  width: 80px;
}

.waiting{
  width: 26em;
  height: 11em;
  margin: 3.5em auto;
  margin-bottom: 0em;
  background-color: white;
  border: 1px solid #efefef;
  border-left-style: solid;
  border-radius: 5px;
  border-left-width: thick;
  border-left-color: #8ee336;
  //#0088cc;
}


.waiting > img{
  width: 8em;
  height: 8em;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 100%;
  border: 1px solid #efefef;
}

.repbox{
  height: 10em;
  width: 14em;
  //border: 1px solid orange;
  margin-top: -9.25em;
  margin-left: 11em;
  background-color: #f9f9f9;
  color: #141414;
  letter-spacing: 0.05em;
  font-family: 'Varela Round', sans-serif;
}

.repbox > h5{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #0088cc;
  font-size: 16;
  text-decoration: underline;
}

.repbox > p{
  color: #141414;
  text-align: center;
  margin-bottom: -1em;
}


.sched{
  width : 26em;
  height : 4em;
  background-color: white;
  margin: 0.75em auto;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.sched ul{
  margin-left: -2em;
  margin-top: 0.20em;
  display: inline;
}

.sched li{
  display : inline-block;
  margin-right: 0.25em;
  margin-top: 0.1em;
}


.sched li img{
  width : 3.5em;
  height: 3.5em;
  margin: 0 auto;
  border: 2px solid;
  border-radius: 100%;
}
.sched li img:hover{
  opacity: 0.8;
}

.sched i{
  display: inline;
  float: right;
}

#green{
  border-color: #8EE336;
}

#red{
  border-color: red;
}

#blue
{
  border-color: #0088cc;
}

.patlist{
  margin-top: 1em;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  background-color: white;
}

.patlist > h4{
  margin-top: 1em;
  letter-spacing: 0.05em;
  color: black;

}

.patlist  img{
  width: 5em;
  height: 5em;
  border-radius : 100%;
  border: 2px solid;
}

.element{
  margin: 1em auto;
  width: 90%;
  border: 1px solid orange;
  background-color: #f8f8f8;
  border-radius : 5px;
  padding: 0.5em;
}
#selector {
    position: absolute;
    top: -2em;
    width:120%;
    height:120%;
    opacity: 0.7;
    margin -10 0;
}

.messages{
  position: relative;
  width: 26em;
  height: 14em;
  margin: 2.5em auto;
  margin-bottom: 0em;
  background-color: white;
  border: 1px solid #efefef;
  border-left-style: solid;
  border-radius: 5px;
  /*border-left-width: thick;
  border-left-color: #8ee336;*/
}

.messages ul {
  list-style-type:none;
}

.messages h4, h5{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: grey;
}

.messages h5{
  margin-top: -0.25em;
  font-weight: bold;
}

.messages h6{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
}

.messages li {
  position: absolute;
  left: 1em;
  height: 11em;
  background-color: white;
  color: block;
  display: block;
  text-align: center;
  width: 24em;
}

.medimage{
  height: 10em;
  width: 11em;
}

.medimage img{
  height: 5em;
  width: 5em;
  border: solid;
  border-width: 3px;
  border-color: #efefef;
  border-radius : 100%;
  margin: 0.5em auto;
}

.medname{
  position: absolute;
  left: 9.75em;
  top:1em;
}

.medetail{
  font-style: italic;
  position: absolute;
  left: 12.75em;
  top: 4em;
}
.viewdets{
  text-decoration: underline;
  color: #0088cc;
  position: absolute;
  left: 12.75em;
  top: 5.25em;
}

.approve{
  position: absolute;
  left: 12.5em;
  top: 7em;
}

.reject{
  position: absolute;
  top: 7em;
  left: 19em;
}

.insights{
    width: 26em;
    height: 32.5em;
    margin: 3.5em auto;
    margin-bottom: 0em;
    background-color: white;
    border: 1px solid #efefef;
    border-left-style: solid;
    border-radius: 5px;
    border-left-width: thick;
    border-left-color: #efefef;
}

.patientreps{
  position: relative;
  width: 25em;
  height: 10em;
  margin: 0.5em auto;
  border-radius: 5px;
  border: 1px solid orange;
}

.numbox{
  float: left;
  width: 7.45em;
  height: 9em;
  margin: 0.5em 0.4em;
  border: 1px solid orange;
  border-radius: 5px;
}
